<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
     <type name="Hyva\Checkout\ViewModel\Checkout\Payment\MethodList">
        <plugin name="buckaroo-hyva-logo-subtext" type="Buckaroo\HyvaCheckout\Plugin\MethodList" />
    </type>
</config>
